body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;

}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.btn-primary,
.btn-outline-primary {
  background-color: #00b3ff;
  color: #000000;
  border: 1;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #000000 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #000000;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}

/* Map */

.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
button.thumbnail {
  padding: 0;
}

dbtn{
  color:red;
}

ebtn{
  color:rgb(0, 0, 0);
}

footer {
  background-color: #000000; /* Set the desired background color */
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,35,42,1) 100%);
  padding: 5px; /* Set the desired padding */
  color: #ffffff; /* Set the font color to white */
}
header{
  background-color: #000000;
}


.printalign{
  border-radius:10px;
  
  padding-left: 3%;
}

.table-container {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ededed;
}


.table tbody tr:hover {
  background-color: #727272;
}

.actions-buttons {
  display: flex;
  gap: 5px;
}

.printalign {
  text-align: right;
  margin-bottom: 10px;
}

.print {
  background-color: rgb(133, 226, 255);
  padding: 5px 10px;
  border: 1;
  cursor: pointer;
}

.btn {
  background-color: #00b3ff;
  padding: 5px 10px;
  border: 1;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: rgb(133, 226, 255);
}

.btn.text-bold {
  font-weight: bold;
}



